<div class="form-modal">
  <div class="form-top">
    <h4 class="related-title">Register/ Sign up</h4>
    <button (click)="close()">
      <span>x</span>
    </button>
  </div>
  <form action="" class="form">
    <div class="form-comment">
      <h6>First name</h6>
      <input type="text" class="comment-input" placeholder="First Name">
    </div>
    <div class="form-comment">
      <h6>Email</h6>
      <input type="text" class="comment-input" placeholder="Email">
    </div>
    <div class="form-comment">
      <h6>Password</h6>
      <input type="text" class="comment-input" placeholder="Password">
    </div>
    <div class="form-comment">
      <h6>Confirm Password</h6>
      <input type="text" class="comment-input" placeholder="Password">
    </div>
    <div class="form-comment">
      <input type="checkbox">
      <span>I accept <a href=""> Terms And Condition</a></span>
    </div>
    <div class="form-comment">
      <button class="btn-comment">Sign In</button>
    </div>
  </form>
</div>