<main>
  <div>
    <div>
      <div class="form-top">
        <h4 class="related-title">Login/ Sign in</h4>
        <button (click)="close()">
          <span>x</span>
        </button>
      </div>
      <form [formGroup]="loginForm" class="form">
        <div class="form-comment">
          <p class="message-error error-login" *ngIf="notification === -1">User name or password wrong!!!</p>
          <h6>Email</h6>
          <input formControlName="email" type="text" class="comment-input" placeholder="Email">
          <div *ngIf="
          loginForm.controls.email.invalid &&
          (loginForm.controls.email.touched ||
            loginForm.controls.email.dirty)">
            <p class="message-error" *ngIf="loginForm.controls.email?.errors.required">
              *Email is required!
            </p>
            <p class="message-error" *ngIf="loginForm.controls.email?.errors.email">
              *Invalid email!
            </p>
          </div>
        </div>
        <div class="form-comment">
          <h6>Password</h6>
          <input formControlName="password" type="password" class="comment-input" placeholder="Password">
          <div *ngIf="
          loginForm.controls.password.invalid &&
          (loginForm.controls.password.touched ||
            loginForm.controls.password.dirty)">
            <p class="message-error" *ngIf="loginForm.controls.password?.errors.required">
              *Password is required!
            </p>
          </div>
        </div>
        <div class="form-comment">
          <input type="checkbox">
          <span>Remember me</span>
        </div>
        <div class="form-comment">
          <button type="button" class="btn btn-comment" [disabled]="loginForm.invalid" (click)="login()">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</main>
