<div class="page-banner">
  <div class="container">
    <div class="banner">
      <h1 class="page-title-category">Two column blog</h1>
      <ul class="blog-breadcrum">
        <li class="breadcrum-list">
          <a href="">Home</a>
        </li>
        <li class="breadcrum-list">
          <a href="">Blog</a>
        </li>
        <li class="breadcrum-list">Two Column Blog</li>
      </ul>
    </div>
  </div>
</div>
<section class="page-main">
  <div class="container">
    <div class="card-news">
      <div class="row">
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-1.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Sand in San Francisco</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nobita </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-2.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-3.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-6.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview video-yt-wrapper">
              <iframe src="https://www.youtube.com/embed/Qw-7q6zWiho?rel=0&amp;controls=0&amp;showinfo=0"></iframe>
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-4.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-7.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-8.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview video-lc-wrapper">
              <video muted loop controls class="video-lc-wrapper">
                <source src="./assets/img/video-1.mp4">
              </video>
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-9.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-10.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-large-6 col-medium-6 col-small-12 card-service">
          <div class="aricle-post">
            <div class="post-preview video-yt-wrapper">
              <iframe src="https://player.vimeo.com/video/275187876?title=0&byline=0&portrait=0"></iframe>
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Online sales surge in days</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                who are indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="pagination">
      <ul class="pagination-list">
        <li class="pagination-item">
          <a href="" class="pagination-link"><i class="fas fa-angle-left"></i>
            Previous
          </a>
        </li>
        <li class="pagination-item">
          <a href="" class="pagination-link">
            1
          </a>
        </li>
        <li class="pagination-item">
          <a href="" class="pagination-link">
            2
          </a>
        </li>
        <li class="pagination-item">
          <a href="" class="pagination-link">
            3
          </a>
        </li>
        <li class="pagination-item">
          <a href="" class="pagination-link">
            Next <i class="fas fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>