<section class="section">
  <div class="container">
    <div class="main-typo">
      <h2 class="typo-title">Why choosing consult?
      </h2>
      <p class="typo-content">Cross-agency coordination clean water rural, promising development turmoil inclusive
        education transformative community.
      </p>
    </div>
    <div class="row">
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <img class="card-img-icon" src="http://www.shreethemes.in/promize/layouts/images/icon/advisor.svg" alt="">
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <img class="card-img-icon" src="http://www.shreethemes.in/promize/layouts/images/icon/pc.svg" alt="">
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
          </div>
        </div>
      </div>
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <img class="card-img-icon" src="http://www.shreethemes.in/promize/layouts/images/icon/consultant.svg"
              alt="">
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid">
    <div class="section-list">
      <div class="row">
        <div class="col-6">
          <div class="section-left">
            <img class="section-left-img" src="./assets/img/03.jpg" alt="">
          </div>
        </div>
        <div class="col-6">
          <div class="section-right">
            <div class="about-content">
              <h4 class="about-title">Let's make great thing together !</h4>
              <div class="about-description">
                <ul class="list">
                  <li class="list-note"><i class="far fa-check-circle mr-3"></i> Lorem ipsum dolor sit amet
                  </li>
                  <li class="list-note"><i class="far fa-check-circle mr-3"></i> Sed ut perspiciatis unde omnis
                  </li>
                  <li class="list-note"><i class="far fa-check-circle mr-3"></i> But I must explain to you how all this
                  </li>
                  <li class="list-note"><i class="far fa-check-circle mr-3"></i> At vero eos et accusamus et iusto odio
                  </li>
                  <li class="list-note"><i class="far fa-check-circle mr-3"></i> On the other hand, we denounce
                  </li>
                </ul>
                <p class="text-note">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                  anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                  tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                </p>
                <a class="btn btn-custom">Read more <i class="fas fa-arrow-right"></i> </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="main-typo">
      <h2 class="typo-title">Amazing Services</h2>
      <p class="typo-content">Cross-agency coordination clean water rural, promising development turmoil inclusive
        education transformative community.
      </p>
    </div>
    <div class="row">
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <i class="far fa-star"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
            <div _ngcontent-jdr-c20="" class="read-more"><a _ngcontent-jdr-c20="" href="#">Read More <i
                  _ngcontent-jdr-c20="" class="fas fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <i class="far fa-desktop"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
            <div _ngcontent-jdr-c20="" class="read-more"><a _ngcontent-jdr-c20="" href="#">Read More <i
                  _ngcontent-jdr-c20="" class="fas fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <i class="far fa-eye"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
            <div _ngcontent-jdr-c20="" class="read-more"><a _ngcontent-jdr-c20="" href="#">Read More <i
                  _ngcontent-jdr-c20="" class="fas fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <i class="far fa-heart"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
            <div _ngcontent-jdr-c20="" class="read-more"><a _ngcontent-jdr-c20="" href="#">Read More <i
                  _ngcontent-jdr-c20="" class="fas fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <i class="fas fa-umbrella"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
            <div _ngcontent-jdr-c20="" class="read-more"><a _ngcontent-jdr-c20="" href="#">Read More <i
                  _ngcontent-jdr-c20="" class="fas fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
      <div class="col-4 card-service">
        <div class="card-aricle">
          <div class="card-img">
            <i class="fas fa-boxes"></i>
          </div>
          <div class="card-content">
            <h4 class="card-title">Expert Advisor
            </h4>
            <p class="card-text">Promising development turmoil inclusive education transformative community.
            </p>
            <div _ngcontent-jdr-c20="" class="read-more"><a _ngcontent-jdr-c20="" href="#">Read More <i
                  _ngcontent-jdr-c20="" class="fas fa-angle-right" aria-hidden="true"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-arrow">
  <div class="container">
    <div class="section-intro row">
      <div class="col-8">
        <div class="intro-text">
          <h4 class="intro-title">Let's Get Started !
          </h4>
          <p class="intro-content">Paying attention to what our customers want and what they say is the most important
            value in Stylemix.
          </p>
        </div>
      </div>
      <div class="col-4">
        <div class="intro-contact">
          <a href="" class="btn btn-custom-outline-dark">Buy now</a>
          <a href="" class="btn btn-secondary btn-custom-2">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="main-typo">
      <h2 class="typo-title">OUR BUSINESS PRICING
      </h2>
      <p class="typo-content">Cross-agency coordination clean water rural, promising development turmoil inclusive
        education transformative community.
      </p>
    </div>
    <div class="card-price">
      <div class="row item-center">
        <div class="col-3">
          <div class="price-table">
            <div class="price-header">
              <i class="far fa-lightbulb"></i>
              <h3 class="price-title">STARTER</h3>
              <p class="price-content">Suitable for starter
              </p>
            </div>
            <div class="price-value">
              <h4 class="price-number">
                $10.99
                <span>/Month</span> </h4>
            </div>
            <div class="price-text">
              <ul class="price-list">
                <li class="price-note"><i class="fas fa-check mr-3"></i> Full Access
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> Source Files
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> 100 User Accounts
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> 1 Year License
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> Phone & Email Support
                </li>
              </ul>
            </div>
            <div class="price-button">
              <button class="btn btn-dark btn-buy">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="price-table">
            <div class="price-header">
              <i class="far fa-star"></i>
              <h3 class="price-title">PROFESSIONAL</h3>
              <p class="price-content">Suitable for Regular
              </p>
            </div>
            <div class="price-value">
              <h4 class="price-number">
                $99.99
                <span>/Month</span> </h4>
            </div>
            <div class="price-text">
              <ul class="price-list">
                <li class="price-note"><i class="fas fa-check mr-3"></i> Full Access
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> Source Files
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> 100 User Accounts
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> 1 Year License
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> Phone & Email Support
                </li>
              </ul>
            </div>
            <div class="price-button">
              <button class="btn btn-dark btn-buy">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="col-3 col-custom">
          <div class="price-table">
            <div class="price-header header-custom">
              <i class="fab fa-codepen"></i>
              <h3 class="price-title">STANDERD</h3>
              <p class="price-content">Suitable for Business
              </p>
            </div>
            <div class="price-value value-custom">
              <h4 class="price-number">
                $199.99<span>/Month</span>
              </h4>
            </div>
            <div class="price-text">
              <ul class="price-list">
                <li class="price-note"><i class="fas fa-check mr-3"></i> Full Access
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> Source Files
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> 100 User Accounts
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> 1 Year License
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> Phone & Email Support
                </li>
              </ul>
            </div>
            <div class="price-button button-custom">
              <button class="btn btn-dark btn-buy">Buy Now</button>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="price-table">
            <div class="price-header">
              <i class="fab fa-connectdevelop"></i>
              <h3 class="price-title">PREMIUM</h3>
              <p class="price-content">Suitable for Premium
              </p>
            </div>
            <div class="price-value">
              <h4 class="price-number">
                $499.99<span>/Month</span>
              </h4>
            </div>
            <div class="price-text">
              <ul class="price-list">
                <li class="price-note"><i class="fas fa-check mr-3"></i> Full Access
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> Source Files
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> 100 User Accounts
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> 1 Year License
                </li>
                <li class="price-note"><i class="fas fa-check mr-3"></i> Phone & Email Support
                </li>
              </ul>
            </div>
            <div class="price-button">
              <button class="btn btn-dark btn-buy">Buy Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="bg-review">
    <div class="container">
      <div class="section-reivew">
        <div class="review-avt">
          <img class="avt-user" src="http://www.shreethemes.in/promize/layouts/images/client/04.jpg" alt="">
        </div>
        <div class="review-text">
          <p class="typo-content">" It has roots in a piece of classical Latin literature from 45 BC, making sure there
            isn't years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia "</p>
          <ul class="review-star">
            <li class="list-star"><i class="fas fa-star"></i></li>
            <li class="list-star"><i class="fas fa-star"></i></li>
            <li class="list-star"><i class="fas fa-star"></i></li>
            <li class="list-star"><i class="fas fa-star"></i></li>
            <li class="list-star"><i class="fas fa-star-half-alt"></i></li>
          </ul>
          <h4 class="reivew-user">Dieu Nguyen H.</h4>
          <h6 class="reivew-job">C.E.O</h6>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section section-team">
  <div class="container">
    <div class="main-typo">
      <h2 class="typo-title">OUR TEAM MEMBER
      </h2>
      <p class="typo-content">Cross-agency coordination clean water rural, promising development turmoil inclusive
        education transformative community.
      </p>
    </div>
    <div class="row">
      <div class="col-3 card-team">
        <div class="team-member">
          <div class="team-img">
            <img class="member-img" src="./assets/img/user-1.jpg" alt="">
          </div>
          <div class="member-info">
            <small>Owner -<i>(Derector)</i> </small>
            <h4>ANTHONY DEGO</h4>
            <p class="dicription">Lorem ipsum dolor sit amet, conse ctetur adipi sicing
            </p>
            <ul class="list-social">
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-dribbble"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-instagram"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-3 card-team">
        <div class="team-member">
          <div class="team-img">
            <img class="member-img" src="./assets/img/user-2.jpg" alt="">
          </div>
          <div class="member-info">
            <small>Owner -<i>(Derector)</i> </small>
            <h4>ANTHONY DEGO</h4>
            <p class="dicription">Lorem ipsum dolor sit amet, conse ctetur adipi sicing
            </p>
            <ul class="list-social">
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-dribbble"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-instagram"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-3 card-team">
        <div class="team-member">
          <div class="team-img">
            <img class="member-img" src="./assets/img/user-3.jpg" alt="">
          </div>
          <div class="member-info">
            <small>Owner -<i>(Derector)</i> </small>
            <h4>ANTHONY DEGO</h4>
            <p class="dicription">Lorem ipsum dolor sit amet, conse ctetur adipi sicing
            </p>
            <ul class="list-social">
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-dribbble"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-instagram"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-3 card-team">
        <div class="team-member">
          <div class="team-img">
            <img class="member-img" src="./assets/img/user-4.jpg" alt="">
          </div>
          <div class="member-info">
            <small>Owner -<i>(Derector)</i> </small>
            <h4>ANTHONY DEGO</h4>
            <p class="dicription">Lorem ipsum dolor sit amet, conse ctetur adipi sicing
            </p>
            <ul class="list-social">
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-dribbble"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-instagram"></i></a></li>
              <li class="list-icon"><a class="list-link" href=""><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
<section class="section section-news">
  <div class="container">
    <div class="main-typo">
      <h2 class="typo-title">LATEST NEWS
      </h2>
      <p class="typo-content">Cross-agency coordination clean water rural, promising development turmoil inclusive
        education transformative community.
      </p>
    </div>
    <div class="card-news">
      <div class="row">
        <div class="col-4">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-1.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">As stocks, some strategists</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men who are
                indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nobita </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-2.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Explore Vancouver Mountain</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men who are
                indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="aricle-post">
            <div class="post-preview">
              <img class="post-img" src="./assets/img/card-news-3.jpg" alt="">
              <ul class="post-date">
                <li class="post-day">05</li><span>June</span>
              </ul>
            </div>
            <div class="post-text">
              <h4 class="post-title">Breakfast Fried With Bacon</h4>
              <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men who are
                indignation. </p>
              <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
              <div class="post-footer">
                <ul class="footer-list">
                  <li class="list-item"><i class="fas fa-user"></i><a href="#"> Cecil </a></li>
                  <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>