<div class="header-top">
  <div class="container">
    <div class="header-hidden">
      <div class="login">
        <a class="header-icon" href=""><i class="fas fa-sign-in-alt"></i>Login</a>
        <a class="header-icon" href=""><i class="fas fa-user"></i>Register</a>
      </div>
      <div class="socials">
        <ul class="top-socials">
          <li><a class="header-icon" href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a class="header-icon" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="header-icon" href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a class="header-icon" href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="header-icon" href="#"><i class="fab fa-vimeo-v"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class="page-header">
  <div class="container">
    <nav class="navbar">
      <a href="#" class="navbar-brand"><img src="./assets/img/logo.png" class="header-logo" alt=""></a>
      <div class="navbar-collapse">
        <ul class="navbar-nav nav">
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              HOME
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item">MUTI PAGE HOME</a>
              <a class="dropdown-item">ONE PAGE HOME</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              PAGE
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item">About us</a>
              <a class="dropdown-item">Contact</a>
              <a class="dropdown-item">Services</a>
              <a class="dropdown-item">Info</a>
              <a class="dropdown-item">FAQ</a>
              <a class="dropdown-item">Pricing</a>
              <a class="dropdown-item">Comingsoon</a>
              <a class="dropdown-item">Maintances</a>
              <a class="dropdown-item">Team</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              PORTFOLIO
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item">Default work</a>
              <a class="dropdown-item">Grid word</a>
              <a class="dropdown-item">Full width work</a>
              <a class="dropdown-item">Single work</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              BLOG & NEWS
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item">Blog 2 column</a>
              <a class="dropdown-item">Blog 3 column</a>
              <a class="dropdown-item">Blog 4 column</a>
              <a class="dropdown-item">Left Sidebar</a>
              <a class="dropdown-item">Right Sidebar</a>
              <a class="dropdown-item">Full width</a>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              SHORTCODE
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item">Blog 2 column</a>
              <a class="dropdown-item">Blog 3 column</a>
              <a class="dropdown-item">Blog 4 column</a>
              <a class="dropdown-item">Left Sidebar</a>
              <a class="dropdown-item">Right Sidebar</a>
              <a class="dropdown-item">Full width</a>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              SHOP
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item">Blog 2 column</a>
              <a class="dropdown-item">Blog 3 column</a>
              <a class="dropdown-item">Blog 4 column</a>
              <a class="dropdown-item">Left Sidebar</a>
              <a class="dropdown-item">Right Sidebar</a>
              <a class="dropdown-item">Full width</a>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="nav-link">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="nav-link">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>