<div class="page-banner">
  <div class="container">
    <div class="banner">
      <h1 class="page-title-category">Blog detail</h1>
      <ul class="blog-breadcrum">
        <li class="breadcrum-list">
          <a href="">Home</a>
        </li>
        <li class="breadcrum-list">
          <a href="">Blog</a>
        </li>
        <li class="breadcrum-list">Blog Detail</li>
      </ul>
    </div>
  </div>
</div>
<section class="page-main">
  <div class="container">
    <div class="row">
      <div class="col-large-8 col-medium-12 col-smallest-12">
        <article class="page-aricle">
          <div class="">
            <img class="aricle-img" src="./assets/img/card-news-1.jpg">
          </div>
          <div class="aricle-content">
            <ul class="post-list">
              <li class="list-item"><i class="fas fa-tag"></i><a href="">Business</a>,<a href=""> Co-ordination </a>
              </li>
              <li class="list-item"><i class="far fa-calendar-check"></i><a> 5th June,2019</a></li>
            </ul>
            <p class="text-content">
              On the other hand, we denounce with righteous indignation and dislike men who are indignation. There are
              many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
              form
            </p>
            <p class="text-content">
              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
              Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
              Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a
              Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the
              undoubtable source.
            </p>
            <blockquote class="blockquote">
              <p class="text-content">
                " There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. "
              </p>
            </blockquote>
            <p class="text-content">
              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
            </p>

          </div>
          <div class="btn-group">
            <div class="col-12">
              <button class="btn-aricle">Business</button>
              <button class="btn-aricle">Corporate</button>
              <button class="btn-aricle">Meeting</button>
              <button class="btn-aricle">co-ordination</button>
              <button class="btn-aricle">audio</button>
              <button class="btn-aricle">video</button>
              <button class="btn-aricle">marketing</button>
              <button class="btn-aricle">investment</button>
            </div>
          </div>
          <div class="post-related">
            <h4 class="related-title">Post related</h4>
            <div class="card-news">
              <div class="row">
                <div class="col-large-6 col-medium-6 col-small-12 card-service">
                  <div class="aricle-post">
                    <div class="post-preview">
                      <img class="post-img" src="./assets/img/card-news-4.jpg" alt="">
                      <ul class="post-date">
                        <li class="post-day">05</li><span>June</span>
                      </ul>
                    </div>
                    <div class="post-text">
                      <h4 class="post-title">Sand in San Francisco</h4>
                      <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                        who are indignation. </p>
                      <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
                      <div class="post-footer">
                        <ul class="footer-list">
                          <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nobita </a></li>
                          <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-large-6 col-medium-6 col-small-12 card-service">
                  <div class="aricle-post">
                    <div class="post-preview">
                      <img class="post-img" src="./assets/img/card-news-5.jpg" alt="">
                      <ul class="post-date">
                        <li class="post-day">05</li><span>June</span>
                      </ul>
                    </div>
                    <div class="post-text">
                      <h4 class="post-title">Online sales surge in days</h4>
                      <p class="post-content">On the other hand, we denounce with righteous indignation and dislike men
                        who are indignation. </p>
                      <div class="read-more"><a href="#">Read More <i class="fas fa-angle-right"></i></a></div>
                      <div class="post-footer">
                        <ul class="footer-list">
                          <li class="list-item"><i class="fas fa-user"></i><a href="#"> Nancy </a></li>
                          <li class="list-item"><i class="fas fa-tag"></i><a href="#">Business</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="post-related post-comment">
            <h4 class="related-title">Comment</h4>
            <ul class="comment-list">
              <li class="comment-list-item">
                <a class="avt-user" href="">
                  <img class="avt-user-comment" src="./assets/img/user-comment-1.jpg" alt="">
                </a>
                <div class="comment-body">
                  <div class="comment-title">
                    <a class="comment-repply" href=""><i class="far fa-comment-dots"></i>Reply</a>
                    <h4 class="comment-user-name">Lorenzo Peterson</h4>
                    <small>05th June, 2019 at 01:25 pm
                    </small>
                  </div>
                  <p class="comment-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  </p>
                </div>
              </li>
              <li class="comment-list-item">
                <a class="avt-user" href="">
                  <img class="avt-user-comment" src="./assets/img/user-comment-3.jpg" alt="">
                </a>
                <div class="comment-body">
                  <div class="comment-title">
                    <a class="comment-repply" href=""><i class="far fa-comment-dots"></i>Reply</a>
                    <h4 class="comment-user-name">Lorenzo Peterson</h4>
                    <small>05th June, 2019 at 01:25 pm
                    </small>
                  </div>
                  <p class="comment-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  </p>
                </div>
              </li>
              <li class="comment-list-item">
                <a class="avt-user" href="">
                  <img class="avt-user-comment" src="./assets/img/user-comment-2.jpg" alt="">
                </a>
                <div class="comment-body">
                  <div class="comment-title">
                    <a class="comment-repply" href=""><i class="far fa-comment-dots"></i>Reply</a>
                    <h4 class="comment-user-name">Lorenzo Peterson</h4>
                    <small>05th June, 2019 at 01:25 pm
                    </small>
                  </div>
                  <p class="comment-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  </p>
              <li class="comment-list-item">
                <a class="avt-user" href="">
                  <img class="avt-user-comment" src="./assets/img/user-comment-4.jpg" alt="">
                </a>
                <div class="comment-body">
                  <div class="comment-title">
                    <a class="comment-repply" href=""><i class="far fa-comment-dots"></i>Reply</a>
                    <h4 class="comment-user-name">Lorenzo Peterson</h4>
                    <small>05th June, 2019 at 01:25 pm
                    </small>
                  </div>
                  <p class="comment-text">
                    It is a long established fact that a reader will be distracted by the readable content of a page
                    when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  </p>
                </div>
              </li>
          </div>
          </li>
          </ul>
      </div>
      <div class="post-related leave-comment">
        <h4 class="related-title">Leave a comment</h4>
        <form class="form" action="">
          <div class="form-comment">
            <textarea class="comment-input" name="" id="" cols="5" rows="5" placeholder="Your Comment"></textarea>
          </div>
          <div class="form-comment">
            <div class="row">
              <div class="col-4">
                <input class="comment-input" type="text" placeholder="Name">
              </div>
              <div class="col-4">
                <input class="comment-input" type="text" placeholder="Email">
              </div>
              <div class="col-4">
                <input class="comment-input" type="text" placeholder="Website">
              </div>
            </div>
          </div>
          <div class="form-comment">
            <button class="btn-comment">Leave a comment</button>
          </div>
        </form>
      </div>
      </article>
    </div>
    <div class="col-large-4 col-medium-12 col-smallest-12">
      <div class="sidebar">
        <div class="widge">
          <h4 class="widge-title">
            Search
          </h4>
          <div class="form-search">
            <input class="search-input comment-input" type="text" placeholder="Search Keywords...">
            <i class="fas fa-search"></i>
          </div>
          <h4 class="widge-title">
            Category
          </h4>
        </div>
        <div class="widge">
          <ul class="category">
            <li class="category-list">
              <a class="category-item" href="">Finance</a>
              <span>13</span>
            </li>
            <li class="category-list">
              <a class="category-item" href="">Food</a>
              <span>10</span>
            </li>
            <li class="category-list">
              <a class="category-item" href="">Business</a>
              <span>08</span>
            </li>
            <li class="category-list">
              <a class="category-item" href="">Blog</a>
              <span>18</span>
            </li>
            <li class="category-list">
              <a class="category-item" href="">Corporate</a>
              <span>22</span>
            </li>
            <li class="category-list">
              <a class="category-item" href="">Sitemap</a>
              <span>26</span>
            </li>
            <li class="category-list">
              <a class="category-item" href="">Marketing</a>
              <span>15</span>
            </li>
            <li class="category-list">
              <a class="category-item" href="">Investment</a>
              <span>09</span>
            </li>
          </ul>
        </div>
        <div class="widge">
          <h4 class="widge-title">
            Flick feed
          </h4>
          <div class="widge-flickr row">
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins01.jpg" alt="">
              </a>
            </div>
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins02.jpg" alt="">
              </a>
            </div>
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins03.jpg" alt="">
              </a>
            </div>
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins04.jpg" alt="">
              </a>
            </div>
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins05.jpg" alt="">
              </a>
            </div>
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins06.jpg" alt="">
              </a>
            </div>
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins07.jpg" alt="">
              </a>
            </div>
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins08.jpg" alt="">
              </a>
            </div>
            <div class="item-img col-4">
              <a class="item-link" href="">
                <img class="img-flickr" src="./assets/img/ins09.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
        <div class="widge widge-flickr">
          <h4 class="widge-title">Recent post</h4>
          <div class="post-recent">
            <img class="recent-img" src="./assets/img/ins07.jpg" alt="">
            <div class="recent-text">
              <a href="" class="recent-title">Consultant Business</a>
              <span class="recent-date">15th May, 2019
              </span>
            </div>
          </div>
          <div class="post-recent">
            <img class="recent-img" src="./assets/img/ins08.jpg" alt="">
            <div class="recent-text">
              <a href="" class="recent-title">Look On The Glorious Balance</a>
              <span class="recent-date">15th May, 2019
              </span>
            </div>
          </div>
          <div class="post-recent">
            <img class="recent-img" src="./assets/img/ins09.jpg" alt="">
            <div class="recent-text">
              <a href="" class="recent-title">Research Financial.</a>
              <span class="recent-date">15th May, 2019
              </span>
            </div>
          </div>
        </div>
        <div class="widge widge-flickr">
          <h4 class="widge-title">
            Tags Cloud
          </h4>
          <button class="btn-tag">Business</button>
          <button class="btn-tag">Finance</button>
          <button class="btn-tag">Marketing</button>
          <button class="btn-tag">Fashion</button>
          <button class="btn-tag">Bride</button>
          <button class="btn-tag">Lifestyle</button>
          <button class="btn-tag">Travel</button>
          <button class="btn-tag">Beauty</button>
          <button class="btn-tag">Video</button>
          <button class="btn-tag">Audio</button>
        </div>
        <div class="widge widge-flickr">
          <h4 class="widge-title">Newsletter</h4>
          <p class="text-content">Sign up to receive latest posts and news</p>
          <form class="form" action="">
            <input class="form-control" type="text" placeholder="Your name">
            <input class="form-control" type="text" placeholder="Your email andress">
            <div class="form-comment">
              <button class="btn-comment">Subcribe now</button>
            </div>
          </form>
        </div>
        <div class="widge widge-flickr">
          <h4 class="widge-title">Addvertisement</h4>
          <div class="banner-spot">
            <a href="">
              <img class="img-spot" src="./assets/img/banner-spot.png" alt="">
            </a>
          </div>
        </div>
        <div class="widge widge-flickr">
          <h4 class="widge-title">Follow us</h4>
          <div class="footer-introduct">
            <div class="introduct-list">
              <ul class="list-social social-tag">
                <li class="list-icon"><a class="list-link" href="#"><i class="fab fa-facebook-f first-icon"></i></a>
                </li>
                <li class="list-icon"><a class="list-link" href="#"><i class="fab fa-vimeo-v first-icon"></i></a></li>
                <li class="list-icon"><a class="list-link" href="#"><i class="fab fa-dribbble first-icon"></i></a></li>
                <li class="list-icon"><a class="list-link" href="#"><i class="fab fa-instagram first-icon"></i></a></li>
                <li class="list-icon"><a class="list-link" href="#"><i class="fab fa-twitter first-icon"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>