<div class="header-top">
  <div class="container">
    <div class="header-hidden">
      <div class="login">
        <a class="header-icon" href=""><i class="fas fa-sign-in-alt"></i>Login</a>
        <a class="header-icon" href=""><i class="fas fa-user"></i>Register</a>
      </div>
      <div class="socials">
        <ul class="top-socials">
          <li><a class="header-icon" href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a class="header-icon" href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a class="header-icon" href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a class="header-icon" href="#"><i class="fab fa-dribbble"></i></a></li>
          <li><a class="header-icon" href="#"><i class="fab fa-vimeo-v"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
