<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="shadow">
        <div class="bg-carousel"></div>
        <img src="./assets/img/banner12.jpg" class="img-banner" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h1 class="carousel-title">WE PROVIDE BUSINESS SOLUTIONS</h1>
        <p class="carousel-content">Create just what you need for your Perfect Website. Choose from a various range of
          Elements & select demo on
          your own Promize.
        </p>
        <div class="carousel-button">
          <button class="btn btn-custom">Buy now</button>
          <button class="btn btn-custom-outline">Contact us</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="shadow">
        <div class="bg-carousel"></div>
        <img src="./assets/img/banner-home-1.jpg" class="img-banner" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="carousel-title">WE PROVIDE BUSINESS SOLUTIONS</h5>
        <p class="carousel-content">Create just what you need for your Perfect Website. Choose from a various range of
          Elements & select demo on
          your own Promize.
        </p>
        <div class="carousel-button">
          <button class="btn btn-custom">Buy now</button>
          <button class="btn btn-custom-outline">Contact us</button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="shadow">
        <div class="bg-carousel"></div>
        <img src="./assets/img/banner11.jpg" class="img-banner" alt="...">
      </div>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="carousel-title">WE PROVIDE BUSINESS SOLUTIONS</h5>
        <p class="carousel-content">Create just what you need for your Perfect Website. Choose from a various range of
          Elements & select demo on
          your own Promize.
        </p>
        <div class="carousel-button">
          <button class="btn btn-custom">Buy now</button>
          <button class="btn btn-custom-outline">Contact us</button>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>